{% extends "page/base.html" %}
{% load static %}
{% block page-title %}{% endblock %}
{% block title %}Upload - SignVisionAI{% endblock %}
{% block page_specific_css %}
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block uploadSelected %}selected{% endblock %}
{% block content %}
<h2 class="section-title">ASL Detection</h2>

<!-- Upload Options dropdown selector -->
<div style="text-align: center; margin-bottom: 20px;">
    <label for="methodSelector"><strong>Upload Options:</strong></label>
    <select id="methodSelector">
        <option value="camera">Take a Picture</option>
        <option value="upload">Upload a Photo</option>
    </select>
</div>

<!-- Covers functionality to take and upload photos to guess ASL sign located on the "Upload" page of website -->
<div id="detection-container" style="display: flex; justify-content: space-around; flex-wrap: wrap; gap: 40px;">

    <!-- Use the camera to upload a photo -->
    <div id="camera-section" style="flex: 1; margin-left: 1in; margin-right: 1in;">
        <div class="camera-flex-container" style="display: flex; justify-content: space-between;">
            <div class="camera-left" style="width: 48%; text-align: center;">
                <h3>Take a Picture</h3>
                <video id="camera" autoplay playsinline></video>
                <canvas id="snapshot" style="display: none;"></canvas>
                <br><br>
                <div style="margin: 10px 0;">
                    <label for="captureInterval">Capture Interval (seconds):</label>
                    <select id="captureInterval">
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <button id="toggleAutoCapture" class="my-button">Start Auto Capture</button>
            </div>
            <!-- Right half: Prediction Results header and the results -->
            <div class="camera-right">
                <h3>Prediction Results (Camera):</h3>
                <pre id="camera_results">No results yet.</pre>
            </div>
        </div>
    </div>


    <!-- Upload a photo file -->
    <div id="upload-section" style="display: none; flex: 1; text-align: center;">
        <h3 style="margin-top: 30px;">Upload a Photo</h3>
        <input type="file" id="ASL_image" accept="image/*" />
        <br><br>
        <button id="upload_image_button">Upload Image</button>

        <h3 style="margin-top: 30px;">Prediction Results (Upload):</h3>
        <pre id="upload_results">No results yet.</pre>
    </div>

</div>
{% endblock %}
