#detection-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
}

.camera-flex-container {
    display: flex;
    align-items: stretch; /* child items will stretch to same height */
}

.camera-left,
.camera-right {
    flex: 1 1 300px;
    padding: 1rem;
    box-sizing: border-box;
}

.camera-left h3,
.camera-right h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.camera-right {
    width: 48%;
    text-align: center;
    /*flex: 1;                         !* same flex as .camera-left *!*/
    /*background-color: #bddcd8;*/
    /*display: flex;                   !* make it a flex container *!*/
    justify-content: center; /* center horizontally */
    /*align-items: center;             !* center vertically *!*/
    /*padding: 1rem;                   !* breathing room inside *!*/
    /*box-sizing: border-box;*/
}

.camera-right pre {
    justify-content: center;
    padding: 0;
    border: none;
    text-align: center;
    font-size: 1.1rem;
    color: #000000;
    background-color: #009f93;
    width: 100%;
    margin-top: 20px;
}

#methodSelector {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1rem;
}

.camera-left video {
    width: 70%;
    border: 4px solid #ccc;
    border-radius: 6px;
    margin-bottom: 1rem;
}

.camera-left canvas {
    width: 100%;
    max-width: 100%;
    margin-bottom: 2rem;
}

button.my-button,
#upload-section button {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #04ccbd;
    color: white;
    transition: background .2s ease;
}

button.my-button:hover,
#upload-section button:hover {
    background: #039f93;
}

.camera-right pre,
#upload-section pre {
    font-size: 1.1rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #04ccbd;
    border-radius: 4px;
    min-height: 4em;
    height: 20em;
    white-space: pre-wrap;
}

.camera-right pre {
    width: 70%;
    max-width: 100%;
    margin: 1rem auto;
}

#upload-section input[type="file"] {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#upload-section {
    text-align: center;
    color: #0d1b2a;
}

#upload_results {
    color: #0d1b2a;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

